<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Star</key>
	<dict>
		<key>Star_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Spike_count</key>
		<integer>0</integer>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Start_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>y</key>
			<integer>80</integer>
			<key>x</key>
			<integer>80</integer>
		</dict>
		<key>Finish_count</key>
		<integer>1</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
