<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>295</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>245</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>78</integer>
		</dict>
		<key>Platform_count</key>
		<integer>4</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>229</integer>
			<key>y</key>
			<integer>109</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>229</integer>
			<key>y</key>
			<integer>212</integer>
		</dict>
		<key>Screw_count</key>
		<integer>2</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>477</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>15</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>11</integer>
		</dict>
		<key>Spike_count</key>
		<integer>8</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Star_count</key>
		<integer>0</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>380</integer>
			<key>y</key>
			<integer>185</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
