<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>43</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>182</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>138</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>421</integer>
			<key>y</key>
			<integer>81</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>420</integer>
			<key>y</key>
			<integer>231</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>5</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Platform_count2</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>204</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>207</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>289</integer>
		</dict>
		<key>Spike_count</key>
		<integer>4</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>341</integer>
			<key>y</key>
			<integer>90</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>88</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>268</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>244</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>294</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>93</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>217</integer>
		</dict>
		<key>Item8</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>152</integer>
		</dict>
		<key>Star_count</key>
		<integer>9</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>165</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>269</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>215</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>344</integer>
			<key>y</key>
			<integer>89</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>293</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>x</key>
			<integer>212</integer>
			<key>y</key>
			<integer>241</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>89</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>152</integer>
		</dict>
		<key>Teleport_count</key>
		<integer>7</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
