<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>156</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>13</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>78</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>128</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>230</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-84</integer>
			<key>y</key>
			<integer>316</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>12</integer>
			<key>y</key>
			<integer>280</integer>
		</dict>
		<key>Item8</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
		<key>Platform_count</key>
		<integer>9</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>-26</integer>
			<key>y</key>
			<integer>313</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>135</integer>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>282</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>135</integer>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>217</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>3</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Platform_count2</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>45</integer>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>251</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>45</integer>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>202</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>45</integer>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>298</integer>
		</dict>
		<key>Spike_count</key>
		<integer>3</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>122</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>157</integer>
		</dict>
		<key>Star_count</key>
		<integer>3</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>413</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
