<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>401</integer>
			<key>y</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>122</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>347</integer>
			<key>y</key>
			<integer>185</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>139</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>4</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>286</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>218</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>330</integer>
			<key>y</key>
			<integer>176</integer>
		</dict>
		<key>Spike_count</key>
		<integer>3</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>70</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>389</integer>
			<key>y</key>
			<integer>263</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>47</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>x</key>
			<integer>239</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>264</integer>
		</dict>
		<key>Star_count</key>
		<integer>5</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>189</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>61</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>91</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>289</integer>
		</dict>
		<key>Transit_count</key>
		<integer>3</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
