<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>288</integer>
			<key>y</key>
			<integer>206</integer>
		</dict>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>39</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>-40</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>3</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>221</integer>
		</dict>
		<key>Saw_count</key>
		<integer>1</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>347</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>415</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>37</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>252</integer>
			<key>y</key>
			<integer>290</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>252</integer>
			<key>y</key>
			<integer>270</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>259</integer>
			<key>y</key>
			<integer>58</integer>
		</dict>
		<key>Spike_count</key>
		<integer>8</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>354</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>185</integer>
		</dict>
		<key>Star_count</key>
		<integer>2</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>265</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>157</integer>
		</dict>
		<key>Transit_count</key>
		<integer>1</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
