<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>36</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>310</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>Platform_count</key>
		<integer>2</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>313</integer>
			<key>y</key>
			<integer>185</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>189</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>4</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>242</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>434</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>124</integer>
			<key>y</key>
			<integer>245</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>145</integer>
		</dict>
		<key>Platform_count2</key>
		<integer>4</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>101</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>223</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>185</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>220</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-2147483648</integer>
			<key>y</key>
			<integer>-2147483648</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>178</integer>
			<key>y</key>
			<integer>188</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>123</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>179</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
		<key>Item8</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>440</integer>
			<key>y</key>
			<integer>122</integer>
		</dict>
		<key>Spike_count</key>
		<integer>9</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>348</integer>
			<key>y</key>
			<integer>187</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>438</integer>
			<key>y</key>
			<integer>66</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>42</integer>
			<key>y</key>
			<integer>188</integer>
		</dict>
		<key>Star_count</key>
		<integer>3</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>91</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>437</integer>
			<key>y</key>
			<integer>190</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>77</integer>
		</dict>
		<key>Transit_count</key>
		<integer>3</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
