<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>91</integer>
			<key>y</key>
			<integer>63</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>424</integer>
			<key>y</key>
			<integer>278</integer>
		</dict>
		<key>Nograv_count</key>
		<integer>1</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>78</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>101</integer>
		</dict>
		<key>Platform_count</key>
		<integer>3</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>275</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>97</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>183</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>3</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Spike_count</key>
		<integer>0</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Star_count</key>
		<integer>0</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>29</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>17</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>287</integer>
		</dict>
		<key>Teleport_count</key>
		<integer>2</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
