<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>2</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>428</integer>
			<key>y</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>438</integer>
			<key>y</key>
			<integer>149</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>371</integer>
			<key>y</key>
			<integer>148</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>148</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>167</integer>
			<key>y</key>
			<integer>149</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>147</integer>
		</dict>
		<key>Spike_count</key>
		<integer>7</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Star_count</key>
		<integer>0</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>284</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>95</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>234</integer>
			<key>y</key>
			<integer>222</integer>
		</dict>
		<key>Teleport_count</key>
		<integer>2</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
