<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>181</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>46</integer>
			<key>y</key>
			<integer>115</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>1</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>43</integer>
			<key>y</key>
			<integer>252</integer>
		</dict>
		<key>Platform_count2</key>
		<integer>1</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>232</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>127</integer>
		</dict>
		<key>Spike_count</key>
		<integer>2</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>72</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>309</integer>
			<key>y</key>
			<integer>188</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>284</integer>
		</dict>
		<key>Star_count</key>
		<integer>3</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>77</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>237</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>117</integer>
		</dict>
		<key>Transit_count</key>
		<integer>2</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
