<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Platform_count2</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>207</integer>
			<key>y</key>
			<integer>294</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>228</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>Repel_count</key>
		<integer>4</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>258</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>261</integer>
			<key>y</key>
			<integer>82</integer>
		</dict>
		<key>Saw_count</key>
		<integer>2</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>212</integer>
		</dict>
		<key>Screw_count</key>
		<integer>1</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Spike_count</key>
		<integer>0</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>149</integer>
		</dict>
		<key>Star_count</key>
		<integer>1</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>389</integer>
			<key>y</key>
			<integer>173</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
