<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Platform_count2</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>455</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>323</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>167</integer>
		</dict>
		<key>Saw_count</key>
		<integer>5</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>285</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>286</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>270</integer>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>32</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>32</integer>
		</dict>
		<key>Spike_count</key>
		<integer>6</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>256</integer>
		</dict>
		<key>Star_count</key>
		<integer>1</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>233</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>381</integer>
			<key>y</key>
			<integer>238</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>Teleport_count</key>
		<integer>2</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>65</integer>
			<key>y</key>
			<integer>67</integer>
		</dict>
		<key>Transit_count</key>
		<integer>1</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
