<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>139</integer>
			<key>y</key>
			<integer>102</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>0</integer>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>90</integer>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>164</integer>
		</dict>
		<key>Platform_count1</key>
		<integer>2</integer>
	</dict>
	<key>Platform2</key>
	<dict>
		<key>Platform_count2</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>94</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>165</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>214</integer>
			<key>y</key>
			<integer>107</integer>
		</dict>
		<key>Repel_count</key>
		<integer>6</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Spike_count</key>
		<integer>0</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>143</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>137</integer>
		</dict>
		<key>Star_count</key>
		<integer>3</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>291</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
