<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrow</key>
	<dict>
		<key>Arrow_count</key>
		<integer>0</integer>
	</dict>
	<key>Finish</key>
	<dict>
		<key>Finish_count</key>
		<integer>1</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>Hyper</key>
	<dict>
		<key>Hyper_count</key>
		<integer>3</integer>
		<key>Item0</key>
		<dict>
			<key>x</key>
			<integer>45</integer>
			<key>y</key>
			<integer>182</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>60</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
	</dict>
	<key>Nograv</key>
	<dict>
		<key>Nograv_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform</key>
	<dict>
		<key>Platform_count</key>
		<integer>0</integer>
	</dict>
	<key>Platform1</key>
	<dict>
		<key>Platform_count1</key>
		<integer>0</integer>
	</dict>
	<key>Repel</key>
	<dict>
		<key>Repel_count</key>
		<integer>0</integer>
	</dict>
	<key>Saw</key>
	<dict>
		<key>Saw_count</key>
		<integer>0</integer>
	</dict>
	<key>Screw</key>
	<dict>
		<key>Screw_count</key>
		<integer>0</integer>
	</dict>
	<key>Spike</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item1</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item10</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>Item11</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>276</integer>
			<key>y</key>
			<integer>119</integer>
		</dict>
		<key>Item12</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>113</integer>
		</dict>
		<key>Item13</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>132</integer>
		</dict>
		<key>Item14</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>131</integer>
		</dict>
		<key>Item15</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>131</integer>
		</dict>
		<key>Item16</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>403</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>Item17</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>344</integer>
			<key>y</key>
			<integer>130</integer>
		</dict>
		<key>Item18</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>131</integer>
		</dict>
		<key>Item19</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>131</integer>
		</dict>
		<key>Item2</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>Item20</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>387</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>Item3</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item4</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item5</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>328</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item6</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>268</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>Item7</key>
		<dict>
			<key>Angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>Item8</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>446</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>Item9</key>
		<dict>
			<key>Angle</key>
			<integer>180</integer>
			<key>x</key>
			<integer>339</integer>
			<key>y</key>
			<integer>114</integer>
		</dict>
		<key>Spike_count</key>
		<integer>21</integer>
	</dict>
	<key>Star</key>
	<dict>
		<key>Star_count</key>
		<integer>0</integer>
	</dict>
	<key>Start</key>
	<dict>
		<key>Item0</key>
		<dict>
			<key>Balls_count</key>
			<integer>5</integer>
			<key>x</key>
			<integer>329</integer>
			<key>y</key>
			<integer>239</integer>
		</dict>
		<key>Start_count</key>
		<integer>1</integer>
	</dict>
	<key>Teleport</key>
	<dict>
		<key>Teleport_count</key>
		<integer>0</integer>
	</dict>
	<key>Transit</key>
	<dict>
		<key>Transit_count</key>
		<integer>0</integer>
	</dict>
	<key>Wind</key>
	<dict>
		<key>Wind_count</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
